{% load static %}

in<aside class="main-sidebar elevation-4 sidebar-dark-primary">
  <!-- Brand Logo -->

  <a href="/" class="brand-link">
    <img
      src="{% static 'dist/img/AdminLTELogo.png' %}"
      alt=""
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light"><b>S.C.V</b> <sub>LTE</sub> <sup> 1.1</sup></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">

        {% if request.user.profile.avatar %}
        <img
          class="img-circle elevation-2"
          src="{{ request.user.profile.avatar.url }}"
          alt="Fotografía"
        />
        {% else %}
        <img
          src="{% static 'dist/img/user2-160x160.jpg' %}"
          class="img-circle elevation-2"
          alt="User Image"
        />
        {% endif %}
      </div>
      <div class="info">
        {% if user.first_name and user.last_name %}
        <a href="{%url 'profiles-view'%}" class="d-block"
          >{{ user.first_name |upper }} {{ user.last_name |upper }}</a
        >
        {% else %}
        <a href="{%url 'profiles-view'%}" class="d-block">{{ user.username |upper }}</a>
        {% endif %}
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column"  data-widget="treeview" role="menu" data-accordion="false">
      
     <li class="nav-item menu-open">
          <a
            href="{% url 'home' %}"
            class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
          >
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
        </li> 


        <!-- MENU PARA EL SISTEMA DE CONTROL DE VISITAS-->
        {%if perms.gav.view_personas %}
        <li class="nav-item menu-open">
          <a href="" class="nav-link">
            <i class="fas fa-building nav-icon"></i>
            <p>
              Sistema de Control de Visitas
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
       
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a
                href="{% url 'search' %}"
                class="nav-link {% if request.resolver_match.url_name == 'search' %}active{% endif %}"
              >
              <i class="fas fa-search"></i>

                <p>Buscar Visitante</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="{% url 'lperson' %}"
                class="nav-link {% if request.resolver_match.url_name == 'lperson' %}active{% endif %}"
              >
              <i class="fas fa-users"></i>
                <p>Personas Registradas</p>
              </a>
            </li> 
            {%if perms.gav.view_avisitantes%}
            <li class="nav-item">
              <a
                href="{% url 'laccess' %}"
                class="nav-link {% if request.resolver_match.url_name == 'laccess' %}active{% endif %}"
              >
              <i class="fas fa-clipboard-list"></i>
                <p>Acceso Registrado</p>
              </a>
            </li>
            {%else%}
            {%endif%}
        </ul>
    
        </li> 
        {%endif%}

        {% if request.user.is_staff %}
        <li class="nav-item menu-open">
          <a
            href="/admin"
            class="nav-link {% if request.resolver_match.url_name == 'admin' %}active{% endif %}"
          >
          <i class="fas fa-shield-alt"></i>
            <p>
              Panel de Seguridad 
              <i class="fas fa-cogs"></i>
            </p>
          </a>
        </li> 

        {% endif%}

      </ul>
    </nav>
  </div>
</aside>
