{% extends 'layouts/main.html' %}

{% comment %}TODO LO QUE ESTE EN TITLE APARECERA EN EL TITULO DE LA PAGINA{% endcomment %}
{% block title %}
  REGISTRO DE ACCESO A LA SEDE
{% endblock %}

{% comment %}MUESTRA LA UBICACION ACTUAL DE{% endcomment %}

{% block titlecontent %}
  Registrar un Nuevo Acceso del Visitante #: {{ person_access.dni }}
{% endblock %}

{% block titlemenu %}
  REGISTRAR ACCESO
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">

         <div class="col-sm-3">
          <div class="card card-primary">
            <div class="card-body box-profile">
              <div class="text-center">
                {%load static%}

                {% if person_access.gender == 'M' %}
                <img class="profile-user-img img-fluid img-circle"  src="{% static '/dist/img/avatar4.png' %}" alt="Male">
        {% else %}
        <img class="profile-user-img img-fluid img-circle" src="{% static '/dist/img/avatar3.png' %}" alt="Female">
{% endif %}
              </div>

              <h3 class="profile-username text-center">{{ person_accessget_Nac_display }}</h3>

              {% comment %} <p class="text-muted text-center">Software Engineer</p> {% endcomment %}

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Cedula:</b> <a class="float-right">{{ person_access.dni }}</a>
                </li>
                <li class="list-group-item">
                  <b>Nombre:</b> <a class="float-right">{{ person_access.first_name|upper }}</a>
                </li>
                <li class="list-group-item">
                  <b>Apellido:</b> <a class="float-right">{{ person_access.last_name|upper }}</a>
                </li>
              </ul>
                 <a class="btn  btn-success btn-block" href="{%url 'dperson' person_access.dni %}"><i class="fa fa-eye" aria-hidden="true"></i> REGRESAR</a>

            </div>
          </div>
        </div>
        {% load crispy_forms_tags %}
        <div class="col-mb-4">
          <div class="card">
            <div class="card-header">
              <h5 class="m-0">Nuevo ACCESO</h5>
            </div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row align-items-center">
                  <div class="col-auto">{{ form | crispy}}
                    <input type="submit" class="btn btn-primary btn-block mt-3 form-control" value="Guardar" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
