{% extends 'layouts/main.html' %}

{% comment %}TODO LO QUE ESTE EN TITLE APARECERA EN EL TITULO DE LA PAGINA{% endcomment %}
{% block title %}
  DETALLE DEL VISITANTE
{% endblock %}

{% comment %}MUESTRA LA UBICACION ACTUAL DE{% endcomment %}

{% block titlecontent %}
  Detalle del Visitante: <b>{{ person.dni }}</b>
{% endblock %}

{% block titlemenu %}
  Detalle del Visitante
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body box-profile">
              <div class="text-center">
        {%load static%}

                {% if person.gender == 'M' %}
                <img class="profile-user-img img-fluid img-circle"  src="{% static '/dist/img/avatar4.png' %}" alt="Male">
        {% else %}
        <img class="profile-user-img img-fluid img-circle" src="{% static '/dist/img/avatar3.png' %}" alt="Female">
{% endif %}


              </div>

              <h3 class="profile-username text-center">{{ person.get_Nac_display }}</h3>

            

              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Cedula:</b> <a class="float-right">{{ person.dni }}</a>
                </li>
                <li class="list-group-item">
                  <b>Nombre:</b> <a class="float-right">{{ person.first_name}}</a>
                </li>
                <li class="list-group-item">
                  <b>Apellido:</b> <a class="float-right">{{ person.last_name}}</a>
                </li>
              </ul>

              {% if perms.gav.change_avisitantes%}
          <a href="{% url 'eperson' dni=person.dni %}" class="btn btn-primary btn-block"><b>Editar</b> <i class="fas fa-edit"></i></a>
          {%endif%}
            <a href="{% url 'raccess' dni=person.dni %}" class="btn btn-warning btn-block"><b>Marcar Acceso</b> <i class="fas fa-sign-in-alt"></i></a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-primary">
            <div class="card-header">
              <h5 class="m-0">Lista de Accesos</h5>
            </div>
            <div class="card-body">
              <table class="table table-striped table-bordered">
                <thead class="table-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora de Entrada</th>
                    <th scope="col">Hora de Salida</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for x in page_obj %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <th scope="row">{{ x.entry|date:"l, d F Y"|upper}}</th>
                      <th scope="row">{{ x.hours|date:"h:i A" }}</th>
                      {% if x.hoursEx is none or x.hoursEx == '' %}
                      <th><a href="{%url 'eaccess' pk=x.id%}" class="btn btn-xs btn-danger" href="">TIME NOW <i class="fas fa-clock"></i></a> </th>

                    {% else %}
                    <th>{{ x.hoursEx|date:"h:i A" }}</th>
                    {% endif %}
                      <td>
                      <a class="btn btn-sm btn-success" href="{%url 'daccess' pk=x.id%}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      <a class="btn btn-sm btn-info" href="{%url 'eaccess' pk=x.id%}"><i class="fas fa-edit"></i>
         
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <nav aria-label="Page navigation example px-6">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">Anterior</a>
                  </li>
                {% endif %}
            
                {% for page in page_obj.paginator.page_range %}
                  {% if page == page_obj.number %}
                    <li class="page-item active">
                      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
            
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">Siguiente</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
