{% extends 'layouts/main.html' %}

{% comment %}TODO LO QUE ESTE EN TITLE APARECERA EN EL TITULO DE LA PAGINA{% endcomment %}
{% block title %}
  VISITANTES REGISTRADOS
{% endblock %}

{% comment %}MUESTRA LA UBICACION ACTUAL DE{% endcomment %}

{% block titlecontent %}
  <i class="fas fa-user-alt"> LISTA DE VISITANTES</i>
{% endblock %}

{% block titlemenu %}
  Lista de Visitantes
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container-fluid">
     
     
        
   <div class="row">
        <div class="col">
          <div class="card card-primary">
            <div class="card-header">
             {% if perms.gav.add_personas%}
           <a href="{% url 'cperson' %}" class="btn btn-success"><i class="fa fa-user-plus" aria-hidden="true"></i> Registar Nuevo</a>
           {%endif%}
            </div>
            <div class="card-body">
              <table class="table table-striped table-bordered">
                <thead class="table-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nacionalidad</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Tipo de Visitante</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for person in page_obj %}
                    <tr>
                      <th>{{ forloop.counter }}</th>
                      <th >{{ person.get_nac_display }}</th>
                      <th>{{ person.dni }}</th>
                      <td>{{ person.first_name }}</td>
                      <td>{{ person.last_name }}</td>
                      <td>{{ person.get_status_display}}</td>
                      <td>
                   <a class="btn btn-sm btn-info" href="{% url 'dperson' dni=person.dni %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                   {% if perms.gav.change_personas%}
                   <a class="btn btn-sm btn-primary" href="{%url 'eperson' person.dni %}"><i class="fas fa-user-edit"></i></a>
                   {%endif%}
                  

                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              
            
            </div>
            <nav aria-label="Page navigation example px-6">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">Anterior</a>
                  </li>
                {% endif %}
            
                {% for page in page_obj.paginator.page_range %}
                  {% if page == page_obj.number %}
                    <li class="page-item active">
                      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
            
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link">Siguiente</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
